<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrey's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/media-450px.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/media-580px.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/media-768px.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/media-1024px.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/media-1250px.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
<main>
    {% include 'partials/sidebar.html' %}

    <div class="main-content">
        {% include 'partials/navigation.html' %}

        <!-- About Section -->
        <article class="about" data-page="about" {% if active_page == 'about' %}style="display: block;"{% endif %}>
            {% include 'partials/about.html' %}
        </article>

        <!-- Resume Section -->
        <article class="resume" data-page="resume" {% if active_page == 'resume' %}style="display: block;"{% endif %}>
            {% include 'partials/resume.html' %}
        </article>

        <!-- Portfolio Section -->
        <article class="portfolio" data-page="portfolio" {% if active_page == 'portfolio' %}style="display: block;"{% endif %}>
            {% include 'partials/portfolio.html' %}
        </article>

        <!-- Blog Section -->
        <article class="blog" data-page="blog" {% if active_page == 'blog' %}style="display: block;"{% endif %}>
            {% include 'partials/blog.html' %}
        </article>

        <!-- Contact Section -->
        <article class="contact" data-page="contact" {% if active_page == 'contact' %}style="display: block;"{% endif %}>
            {% include 'partials/contact.html' %}
        </article>
    </div>
</main>
<script src="{{ url_for('static', filename='scripts/navigation.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>